{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}
  <h1>{{ this.name }}</h1>
  <dl class="cluster">
  {%- for group_name, recipes in site.query('/recipes', this.alt) | performGroupBy(this.group_key, this.reverse_order, this.alt) -%}
    <dt>{{ group_name or this.null_fallback }}</dt>
    <dd>
      {%- set pipe = joiner(' | ') -%}
      {%- for recipe in recipes | sort(attribute='name') -%}
      {{ pipe() }}<a href="{{ recipe|url }}">{{ recipe.name }}</a>
      {%- endfor -%}
    </dd>
  {%- endfor %}
  </dl>
{% endblock %}